[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pydevd = "*"
coverage = "*"

[packages]
protobuf = "*"
grpcio-tools = "*"
grpcio = "*"
sqlalchemy = "*"
grpcio-status = "*"
googleapis-common-protos = "*"

[requires]
python_version = "3.7"
